<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <h3 th:text="${question.text}"></h3>
    <dl class="dl-horizontal">
        <dt>Answers:</dt>
    </dl>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li th:each="ans : ${question.answers}">
                        <dd th:text="${ans}">123456</dd></li>
                </ul>
            </div>
        </div>
</div>
</body>
</html>