<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/resources/js/jquery-2.1.0.min.js"></script>
    <script src="/resources/js/jquery-ui-1.10.4.custom.js"></script>
    <link href="/resources/css/jquery-ui-1.10.4.custom.css" rel="stylesheet"/>
    <script type="text/javascript">
        $(function(){
            /*  $( "#cv_search" ).autocomplete({
             source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]
             });*/
            $( "#vacancy_search" ).autocomplete({
                source: "/vacancy/search",
                select: function( event, ui ) {
                    $.getJSON(
                            "/vacancy/get/",
                            "term=" + $("#vacancy_search").val(),
                            function(result){
                                var str = '<div class="container"><div class="col-xs-3"><small>Название вакансии</small></div><div class="col-xs-3"><small>Опыт работы</small></div><div class="col-xs-3"><small>Город</small></div></div>';
                                for(var i in result){
                                    str += '<div class="container"><div class="col-xs-3"><a href="/vacancy/p1">' + result[i].title + "</a></div>";
                                    str = str.replace("p1", result[i].id);
                                    str += '<div class="col-xs-3"><small>'+ result[i].experience + '</small></div>';
                                    str += '<div class="col-xs-3"><small>'+ result[i].city + '</small></div></div>';

                                }
                                $("#myList").html(str)
                            }



                    )
                }
            });
        });
    </script>
</head>
<body>

<div class="container">
    <div th:include="layout :: header(company)"></div>
    <h3>Каталог вакансий</h3>
    <div>Поиск:   <input type="text" id="vacancy_search"/></div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills hr">
                <li th:classappend="${category == 0}? 'active'"><a href="/vacancy/list">Все</a></li>
                <li th:each="cat : ${allCategories}" th:classappend="${category == cat.id}? 'active'"><a th:href="'/vacancy/list/'+ ${cat.id}" th:text="${cat.name}">IT</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled"  id = "myList">
                <li th:each="vacancy : ${vacancyList}">
                    <div class="col-xs-6"><a th:href="'/vacancy/' + ${vacancy.id}" th:text="${vacancy.title}">Менеджер</a></div>
                    <div class="col-xs-3"><small th:text="${vacancy.experience + ' года'}">2 года</small></div>
                    <div class="col-xs-3"><small th:text="${vacancy.city}">Казань</small></div></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>