<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <script src="js/angular.js"></script>
    <script src="js/my.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

	<header class="header">
		<div class="logo">
			<span class="first">my</span><span class="second">App</span>
		</div>
	</header>

    <div ng-controller="allCtrl">
        <ul>
            <li>Номер:<input type="number" ng-model="company.id" name="id"></li>
            <li>Имя:<input type="text" ng-model="company.name" name="name"></li>
            <li>Город:<input type="text" ng-model="company.city" name="city" value="Moscow"></li>
            <li>email:<input type="text" ng-model="company.email" name="email" value="microsoft.com"></li>
            <li>Инфо:<input type="text" ng-model="company.description" name="description"></li>
            <li>Пароль<input type="password" ng-model="company.password" name="password"></li>
            <li><input type="button" ng-click="get()" value="get"><input type="button" ng-click="delete()" value="delete"></li>
            <li><input type="button" ng-click="post()" value="post"><input type="button" ng-click="put()" value="put"></li>
        </ul>
    </div>
</div>

</body>
</html>