ol, ul {
	list-style: none;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.header {
	height: 50px;
	border-bottom: 1px solid #ccc;
}

.logo {
	margin: 30px;
	font-size: 42px;
	color: #0088cc;
}
